NET "a[0]" LOC = p22;
NET "a[1]" LOC = p21;
NET "a[2]" LOC = p17;
NET "a[3]" LOC = p16;
NET "b[0]" LOC = p15;
NET "b[1]" LOC = p14;
NET "b[2]" LOC = p12;
NET "b[3]" LOC = p11;
NET "bank[0]" LOC = P127;
NET "bank[1]" LOC = P131;
NET "bank[2]" LOC = P132;
NET "bank[3]" LOC = P133; 
NET "d0" LOC = P32; #DP
NET "du[0]" LOC = P137; #G
NET "du[1]" LOC = P138; #F
NET "du[2]" LOC = P139; #E
NET "du[3]" LOC = P140; #D
NET "du[4]" LOC = P141; #C
NET "du[5]" LOC = P142; #B
NET "du[6]" LOC = P143; #A
NET "d1" LOC = p33; #LSB
NET "f[0]" LOC = p10;
NET "f[1]" LOC = p9;
NET "f[2]" LOC = p8;
NET "f[3]" LOC = p7;
NET "clk" LOC = p84;